{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}


<div class="field buttons">
    <button type="submit" class="btn btn-lg blue-color" value="{{ 'registration.submit'|trans }}">S'inscrire</button>
</div>


{{ form_end(form) }}
